# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Jupyter temporary files
.jupyter/
.local/share/jupyter/
__pycache__/
parlant_db/
*.egg-info
.eggs
.idea
.venv
/venv
/data
!/data/.gitkeep
_cache
.vscode